img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
}

p {
    font-size: 12px;
}

ul {
    list-style: none;
}

h3 {
    width: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

h4 {
    text-align: center;
}

span {
    font-size: 0.8rem;
}

footer {
    margin-top: 1vw;
}

#logo {
    width: 50%;
    margin-left: 2vw;
    margin-top: 2vw;
}

#logo img {
    width: 100%;
}

header {
    background-color: var(--amarillo);
}

.header__logo-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    margin: 0 auto;
}

.home__search-bar {
    width: 45%;
    margin-top: 2vw;
    margin-left: 2vw;
    
}
.home__search-bar input{
    margin-top: 2vw;
    width: 100%;
    height: 4vh;
    border: none;
    border-radius: 1vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}



.home__search-bar i {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
}

#holding_dollar-div {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-left: 2em;
}

.header-list1, .header-list2 {
    display: none;
}

#burger-menu {
    width: 3em;
    height: 3em;
    margin: 0 auto;
    text-align: center;
    background: var(--celeste);
    margin-bottom: 10px;
    border-radius: 1vh;
}

#burger-menu i {
    margin: 10px auto;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.banner img{
    box-sizing: border-box;
    width: 100%;
}

.home__main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


.home__main img{
    width: 50%;
}

.home__main-section {
    width: 90%;
    margin: 0 auto;
    background-color: #ebebeb;
    text-align: left;
}

.home__main-article {
    text-align: center;
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}

.home__main-product .truck {
    position: relative;

}

.home__main-product .truck i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: -30px;
}

footer article {
    margin-top: 3vw;
    text-align: center;
}

footer article i {
    color: var(--celeste);
}

.prices {
    width: 30%;
    font-size: 18px;
}

.discounts {
    width: 70%;
    font-size: 14px;
    color: #39b54a;
}

.home__main-product {
    display: none;
}

.home__main-article:hover .home__main-product {
    display: block;
    text-align: left;
    border-top: 1px solid #ebebeb;
    padding: 15px 15px;
}

@media (min-width: 361px) {
    .header__logo-search {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .home__search-bar {
        width: 50%;
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
        margin-top: 2vw;
    }

    .home__search-bar .search-input i{
        font-size: 1.2em;
    }

    .home__search-bar .search-input {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .home__main-product {
        display: none;
    }

    .home__main-article:hover .home__main-product{
        display: block;
        text-align: left;
        border-top: 1px solid #ebebeb;
        padding: 15px 15px;
    }

    .home__search-bar i{
        font-size: 1em;
        color: black;
        position: relative;
        top: 0;
        right: 0; 
    }

    .home__search-bar input{
        width: 75%;  
    }

    #logo {
        width: 30%;
        margin-top: 2vw;
        margin-left: 2vw;
    }

    .header-list1, .header-list2 {
        display: block;
    }
    
    .home__main-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        flex-grow: 1;
    }

    .home__main-article {
        width: 45%;
    }

    .home__main-product span{
        font-size: 1rem;
    }

    #burger-menu {
        display: none;
    }

    #holding_dollar-div{
        margin-top: 2vw;
        margin-right: 2vw;
        width: 50%;
    }

    #holding_dollar-div span{
        font-size: 0.7rem;
    }

    .header-list1 ul, .header-list2 ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .header-list1 li, .header-list2 li{
        margin: 2vw 1vw;
    }

    .header-lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-lists a {
        font-size: 0.7rem;
    }

    footer {
        margin-top: 1vw;
    }

    footer section{
        margin-bottom: 5vw;
    }
}

@media (min-width: 769px) {

    .home__main-product span{
        font-size: 1rem;
    }

    #burger-menu {
        display: none;
    }

    .home__main-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        flex-grow: 1;
    }

    .home__main-article {
        width: 20%;
    }

    .home__main-product {
        display: none;
    }

    .home__main-product:hover .home__main-product {
        display: block;
        text-align: left;
        border-top: 1px solid #ebebeb;
        padding: 15px 15px;
        box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
    }

    .home__main-product .truck i:hover {
        transition: 2s;
        transform: rotateZ(-90deg);
    }

    #holding_dollar-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #holding_dollar-div span{
        font-size: 0.9rem;
    }

    .header-list1 ul, .header-list2 ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    .header-list1 li, .header-list2 li{
        margin: 2vw 2vw;
    }

    .header-lists {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-lists a {
        font-size: 0.9rem;
    }

    .home__search-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home__search-bar .search-input i{
        font-size: 1.5em;
    }

    footer {
        margin-top: 1vw;
    }

    footer section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2vw;
    }

    footer section i{
        font-size: 2em;
    }

    footer section i:hover{
        color: var(--amarillo);
    }

}